
/* LOGGED OUT */
.logged_out_img     { height: 126px; width: 126px; margin: 20px auto;
                      border-radius: 63px; overflow: hidden; border: solid 1px #ccc; }
.logged_out_img img { height: 100%; width: 100%}
#loginform          { margin-top: 40px;}
.loggedOut label    { font-size: 12px; display: block; line-height: 15px; margin-top: 4px}
.login-username     { margin-bottom: 20px; }
.loggedOut input {
	width: 220px;
}


.loggedOut input[type="checkbox"] { margin-right: 0; opacity: 1; display: inline; float: none; width: auto; height: auto; margin-right: 5px;
    -moz-appearance: checkbox; -webkit-appearance: checkbox; -ms-appearance: checkbox; appearance: checkbox; }



/* TOP LINE */
.innerFrame 			{ padding: 0; width: 1200px; }
.interface_controller 	{ line-height: 40px; text-align: left; float: left }
.interface_btns 		{  }
.interface_btns .rkbutton 	{ margin: 0 0 0 15px; }



.submit_error {
	border: solid 1px red;
}


.searchFilter { margin: 10px 0; }
.result { padding: 7px 15px 15px; border-top: solid 1px #ccc; font-size: 12px; page-break-inside: avoid; }
.addressResult:hover { cursor: default; background: white; }
.addressResident:hover { cursor: pointer; text-decoration: underline; }

.active_merging { font-weight: bold; color: red; }






.support_level 	{ height: 30px; width: 30px; border: solid 1px #444;
				border-radius: 15px; text-align: center; padding-top: 6px; }
.support_level span { display: none; }
.support_level0	{ }
.support_level1	{ background: #228b22; }
.support_level2	{ background: #adff2f; }
.support_level3	{ background: yellow; }
.support_level4	{ background: orange; }	
.support_level5	{ background: red; }		

.modal-content {
	display: inline-block;
	text-align: left;
	margin-top: 5px;
}

.modal-dialog {
	text-align: center;
}

.interaction_count { text-align: center; color: #999; font-size: 12px; margin-top: 5px; }



/* MODAL - Enable Different Width Modals */
.modal 			{ text-align: center; }

.modal-dialog 	{ display: inline-block; }

.modalFrame { padding: 15px; }
.modalFrame .field 	{ padding-top: 15px; }
.modalFrame  input 	{ width: 100%; }
.modalFrame  select { width: 100%; }	
.modalFrame  textarea { width: 100%; height: 60px; padding: 5px; font-size: 12px; }		
.modalFrame  .topSection { border-bottom: dashed 1px #ccc; margin-bottom: 15px; padding-bottom: 15px; }		
.modalFrame  h2 { margin-top: 0 }			
label { margin: 15px 0 2px; }


#modal_searchForm {
	
}

.neighbors {
	font-size: 11px;
}
.neighbors ul {
	padding: 0 0 0 15px;
}

.textInput {
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	font-size: 14px;
}

select {
	/*display: block;*/
	height: 30px;
	font-size: 14px;
	width: 180px;
}

.rkbutton {
	height: 40px;
	text-align: center;
	color: white;
	background: #4683ea;
	border: solid 1px #ccc;
	float: right;
	margin: 20px 0 10px;
	padding: 0 20px;
	font-size: 14px;
}


.personModal {
}

.personModal .rkbutton {
	color: #4683ea;
	background: #eee;
	font-weight: bold;
	height: 30px; padding: 0 15px; font-size: 12px;
}

.header {
	font-size: 24px;
	font-weight: bold;
	margin: 10px 0px;
}



.checkbox {
	width: 20px;
	margin-top: 14px !important;
}

table {
	margin-left: 15px;
}

label {
	line-height: 20px;
	font-size: 12px;
}

textarea {
	border: solid 1px #ccc;
}


/* SEARCH CONTAINER */
.search_container {
	text-align: center;
	background: #eee;
}

#search_form {
	text-align: left;
	padding: 20px 40px;
	font-family: arial;
	display: inline-block;
	margin: 0 auto;
}

#search_form select {
	margin: 10px 10px 0 0;
	width: 150px;
}

#search_form .textInput {
	margin: 10px 10px 0 0;	
	width: 150px;
}
#search_form select:last-child,  #search_form .textInput:last-child {
	margin-right: 0;
}

#search_form table {
	margin: 0;
}

#search_form td {
	padding: 0 5px;
}

#search_form td label {
	margin-right: 20px;
}

#search_form .subhead {
	font-weight: bold;
	margin: 30px 15px 0 0;
}

.uib-daypicker {
	outline: none;
	padding: 15px 15px 5px 0;
}

.uib-datepicker-popup {
	padding-bottom: 10px;
}



/* PRINT STYLES - Especially important for knock lists. */
@media print { 
	header, .topLine { display: none !important; } 
	.results { position: relative; display: block; }
	.result {         -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;position: relative; display: block}
}